<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigation</key>
	<string>#161B22</string>
	<key>background</key>
	<string>#1A202C</string>
	<key>activityIndicator</key>
	<string>#FFFFFF</string>
	<key>text</key>
	<string>#FFFFFF</string>
</dict>
</plist>
